<div style="display: flex;">
    <div style="flex: 1; padding: 10px;">
        <div class="card">
            <div class="card-header">
                Positive Transactions
            </div>
            <div class="card-body">
                <app-transaction-table [transactions]="incomeTransactions"></app-transaction-table>
            </div>
        </div>
    </div>
    <div style="flex: 1; padding: 10px;">
        <div class="card">
            <div class="card-header">
                Negative Transactions
            </div>
            <div class="card-body">
                <app-transaction-table [transactions]="expenseTransactions"></app-transaction-table>
            </div>
        </div>
    </div>
</div>