<nav class="navbar navbar-expand-lg  nav">
    <a class="navbar-brand" href="#">Hussain Motor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/transactions">Transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/accounts">Account</a>
            </li>
        </ul>
    </div>
</nav>