<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="p-3 flex-fill m-2 rounded" style="background-color: #28a745; color: white; font-weight: bold;">
                    <h5>Amount in hand</h5>
                    <span>Value 2</span>
                    
                </div>
                 <div class="p-3 flex-fill m-2 rounded" style="background-color: #194d9c; color: white; font-weight: bold;">
                    <h5>Amount Recieveable</h5>
                    <span>Value 1</span>
                </div>
               <!-- <div class="p-3 flex-fill m-2 rounded" style="background-color: #1648d1; color: white; font-weight: bold;">
                    <h5>Heading 3</h5>
                    <span>Value 3</span>
                </div> -->
                <div class="p-3 flex-fill m-2 rounded" style="background-color: #d83131; color: white; font-weight: bold;">
                    <h5>Aomunt Payable</h5>
                    <span>Value 4</span>
                </div>
            </div>
        </div>
    </div>
</div>